__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
.DS_Store
Thumbs.db

.git
.gitignore

venv/
.venv/
ENV/
env/
.ENV/
env.bak/

*.sqlite3
data/*.sqlite3
db.sqlite3

staticfiles/
media/

node_modules/

.env
.env.*

build/
dist/
coverage.xml
.coverage
.pytest_cache/
.mypy_cache/
